*{
    margin: 0;
    padding: 0;
}
.Sidebar{
    display: inline-flex;
    color: white;
    align-items: center;
    background-color: #252941;
    flex-direction: column;
}
.Sidebar > div >img{
    max-width: 2.5rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.Sidebar > .profile{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}
.Sidebar > div{
    font-size: 0.8rem;
    padding: 1rem 4rem;
    margin: 2rem 0rem;
    border-radius: 2rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition: all 0.2s ease;
}
.Sidebar > div:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}